#ViewArticle {
  background-color: var(--color-2);

  border: 1px solid red;
  .card-image {
    width: 40%;
    .card-pic {
      width: 100%;
    }
  }
  .plus {
    rotate: 45deg;
  }
  .card-contener {
    p {
      color: var(--color-7);
    }
  }
}
