// .btn-primary {
//   --bs-btn-color: black;
//   --bs-btn-bg: ;
//   --bs-btn-border-color: ;
//   --bs-btn-hover-color: #fff;
//   --bs-btn-hover-bg: #0b5ed7;
//   --bs-btn-hover-border-color: ;
//   --bs-btn-focus-shadow-rgb: 49, 132, 253;
//   --bs-btn-active-color: #fff;
//   --bs-btn-active-bg: #0a58ca;
//   --bs-btn-active-border-color: ;
//   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
//   --bs-btn-disabled-color: #fff;
//   --bs-btn-disabled-bg: #0d6efd;
//   --bs-btn-disabled-border-color: ;
// }

// .btn {
//   --bs-btn-padding-y: 7px;
// }

// #navbar {
//   background-color: var(--color-2);

//   .info {
//     color: var(--color-7);
//     font-weight: bold;
//     font-size: 2rem;
//   }

//   .link {
//     font-size: 1.5rem;
//     color: var(--color-7);
//     .logo {
//       font-weight: bold;
//       font-size: 2rem;
//     }
//     &:hover {
//       color: var(--color-3);
//     }
//   }

//   #navbar-content {
//     .link {
//       font-size: 1.5rem;
//       color: var(--color-7);
//       &:hover {
//         color: var(--color-3);
//       }
//       &.active {
//         color: var(--color-3);
//       }
//     }
//   }
// }
#navbar {
  background-color: #1a1a1a;
  border-bottom: 1px solid #282828;
  font-size: 1.5rem;
  .link {
    color: white;
    text-decoration: none;
    &:hover {
      color: #ffc107;
    }
  }
}
