:root {
  --color-1: #121212;
  --color-2: #262626;
  --color-3: #ff9117;
  --color-4: #202020;
  --color-5: #ff9c2e;
  --color-6: #5f5f5f;
  --color-7: #ffffff;
}

body {
  background-color: var(--color-1);
}
