#add-article {
  .title {
    font-size: 1.5rem;
    color: var(--color-7);
  }
  #react-selectorigin {
    #label-react-selectorigin {
      color: var(--color-7);
    }
  }
  #form-input-text-area {
    #label-text-area {
      color: var(--color-7);
    }
  }
  #form-input-text {
    #label-input-text {
      color: var(--color-7);
    }
  }
}
